doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sistema de gestion de ventas ..::.. AbsatSeller
        link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/stylesheets/styledesktop-authen.css")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
    body
        .animsition
            .row
                .container
                    .col-xs-12
                        h1.logo.text-center AbsatSeller
                        h6.legend-logo.text-center Administra sus ventas
            .row
                .container
                    .col-xs-12
                        .desktop
                            form(action="/dktauthen", method="POST").form-horizontal
                                fieldset
                                    .input-group
                                        span.input-group-addon
                                            i.fa.fa-user
                                        input(type="text", name="username", placeholder="Nombre de Usuario").form-control.input-transparent
                                    .input-group
                                        span.input-group-addon
                                            i.fa.fa-lock
                                        input(type="password", name="pass", placeholder="Contraseña").form-control.input-transparent
                                    .col-lg-12
                                        p.text-center
                                            button(type="submit").btn.btn-authe.btn-lg.animsition-link
                                                strong Ingresar
            .row
                .container
                    .col-xs-12
                        h6.text-center.text-footer power by facott