
-if(e){

    script(src="/bootbox/bootbox.min.js")

    -if(e === '1'){
        script(type="text/javascript").
            $(document).ready(function () {
                var str = "<h1 class='text-center'><span class='danger text-danger'><i class='fa fa-warning'></i> Error </span></h1><h3 class='text-center'><span class='lead'><strong>Se produjo un error interno</strong><br/>El sistema no realizo la tarea solicitada, por favor intente de nuevo.</span></h3></h3>"
                bootbox.alert(str).find(".modal-footer").css({'border-top': 'none'}).find('.btn').removeClass('btn-primary').addClass('btn-alert');
            });
    -}

    -if(e === '2'){
        script(type="text/javascript").
            $(document).ready(function () {
                var str = "<h1 class='text-center'><span class='warning text-warning'><i class='fa fa-warning'></i> Advertencia</span></h1><h3 class='text-center'><span class='lead'><strong>No se registro el cliente</strong><br/>En el sistema se encontro un cliente con el mismo nombre, Verifique e intente de nuevo.</span></h3></h3>"
                bootbox.alert(str).find(".modal-footer").css({'border-top': 'none'}).find('.btn').removeClass('btn-primary').addClass('btn-alert');
            });
    -}

    -if(e === '3'){
    script(type="text/javascript").
        $(document).ready(function () {
            var str = "<h1 class='text-center'><span class='success text-success'><i class='fa fa-check'></i> Listo !</span></h1><h3 class='text-center'><span class='lead'><strong>Se agendo una cita</strong><br/>El sistema Agendo la cita con exito, no olvides asistir.</span></h3></h3>"
            bootbox.alert(str).find(".modal-footer").css({'border-top': 'none'}).find('.btn').removeClass('btn-primary').addClass('btn-alert');
        });
    -}

-}




