// validator adds bootsrap

link(rel="stylesheet", href="/validator/dist/css/bootstrapValidator.min.css")
link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css")

script(src="/validator/dist/js/bootstrapValidator.min.js")
script(src="/validator/dist/js/language/es_ES.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js")