@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);


form{
    overflow: hidden;
}
.border-top-none{
    border-top: none !important;
}

textarea{
    resize: none;
    height: 160px !important;
    width: 100% !important;
}
.lg-ab{
    font-family: 'Kaushan Script', cursive !important;
    font-size: 18pt;
    color: #fff;
    text-shadow: 0px 2px 3px #040404;
}
.scroll-y-500{
    height: 484px;
    overflow-x: hidden;
}
.img-small{
    width: 100%;
    height: 100%;
}
.w53{
    width: 53%;
}
.w100{
    width: 100%;
}
.i-span{
    margin-left: 4px;
}
.img-seller-sec{
    width: 120px !important;
    height: 120px !important;
}
.img-peque{
    width: 72px !important;
    height: 72px !important;
}
.margin-auto{
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
}
.btn-submit{
    width: 70%;
}
.margin-left-pull{
    margin-left: 20px;
}
.margin-top-15{
    margin-top: 25px;
}

.text-ellips{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 100%;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.editor{
    width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;
    resize: none;
}
.bg-seller-in-client{
    background-color: whitesmoke;
}

/* load users to message box */

.u-box{
    max-height: 300px;
    position: absolute;
    overflow-x: hidden;
    width: 94.5%;
    z-index: 100;
    margin-top: 34px;
}
.u-box img{
    width: 20px !important;
    height: 20px !important;
}
.u-box li:hover{
    background-color: whitesmoke;
}
.u-box span{
    margin-left: 20px;
    margin-top: 8px;
}
.u-box li a{
    display: block;
    cursor: pointer;
}
.bg-messages-send{
    background-color: #f8f8ff;
}
.overflow-hidden{
    overflow: hidden;
}
.seller-list-check{
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
}