doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sistema movil
        link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/stylesheets/stylemobile.css")
        link(rel="stylesheet" href="/animsition/dist/css/animsition.min.css")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        script(src="/animsition/dist/js/jquery.animsition.min.js")

    body
        .animsition
            block content